.App {
  text-align: center;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  max-width: 400px;
}

div {
  /* margin-bottom: 10px; */
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input, textarea, button {
  padding: 8px;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
