/* Layout.css */

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.header nav ul li {
  margin: 0 1rem;
}

.header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s, border-bottom 0.3s, transform 0.3s;
}

.header nav ul li a:hover,
.header nav ul li a.active {
  color: #ffcc00;
  font-weight: bold;
  border-bottom: 2px solid #ffcc00;
  transform: translateY(-2px);
}

.sidebar {
  width: 200px;
  background-color: #444;
  color: #fff;
  position: fixed;
  top: 60px; /* Adjust to the height of the header */
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.3s;
  padding-top: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #555;
}

.main-content {
  display: flex;
  flex-grow: 1;
  margin-left: 200px;
  margin-top: 60px;
  overflow-y: auto; /* Enable scrolling for main content */
  transition: margin-left 0.3s, margin-top 0.3s;
}

.content {
  flex-grow: 1;
  /* padding: 2rem; */
  background-color: #f9f9f9;
  overflow-y: auto;
  transition: padding 0.3s;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    margin-top: 60px;
  }

  .sidebar {
    width: 60px;
  }

  .sidebar a {
    text-align: center;
    padding: 0.5rem 0;
  }

  .content {
    padding: 1rem;
  }
}

/* Additional scrollbar styling */
.sidebar::-webkit-scrollbar,
.content::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-track,
.content::-webkit-scrollbar-track {
  background: #444; /* Adjust this to match your design */
}

.sidebar::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover,
.content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
